<h1>labs works!</h1>
<div class="container">
  <h1>{{person().name + " " + (person().age > 18?"es mayor de edad":"es menor de edad")}}</h1>
  <input (keyup)="changeHandler" type="text" value={{person().name}} (keyup)="changeHandler($event)"> <!-- se puede usar las dobles llaves y/o corchetes -->
  <input [disabled]="disabled" (click)="clickHandler()" type="button" value="Click Me">
  <img [src]="person().img.url" [alt]="person().img.description">
</div>
<div class="container">
  <input [disabled]="!disabled" (click)="clickHandler()" type="button" value="Click Me">
  <input (dblclick)="doubleClick()" type="button" value="Click Click Me">
  <div>
    <p>(change)</p>
    <input type="text" (change)="changeHandler($event)">
  </div>
  <div>
    <p>(keyup)</p>
    <input type="text " (keyup)="changeHandler($event)">
  </div>
  <div>
    <p>(keydown + key)</p>
    <input type="text " (keydown.enter)="doubleClick()">
  </div>
</div>
<div class="container"><!-- directivas de control -->
   <ul> <!--forma actual -->
    @for (task of tasks(); track $index) {
    <li>
      {{ $index + " - " + task}}
    </li>
    } 
  </ul>
  <hr>
  <ul> <!-- forma antigua -->
    <li *ngFor="let task of tasks(); index as i">
      {{i+" - " + task}} 
    </li>
  </ul>
</div>
<div class="container">
  <!-- forma antigua -->
  <div *ngIf="person().name === 'juan'; else elseBlock"> div a.1 </div>
  <ng-template #elseBlock> div a.2</ng-template>
  <!-- forma nueva  -->
  @if (person().name === 'pipe') {
    <div> div b.1</div>
  } @else {
    <div> div b.2</div>
  }
</div>

<div class="container">
  <div [ngSwitch]="person().name">
    <p *ngSwitchCase="'jeisson'">primer nombre</p>
    <p *ngSwitchCase="'felipe'">segundo nombre</p>
    <p *ngSwitchCase="'rodriguez'">primer apellido</p>
    <p *ngSwitchCase="'prieto'">segundo apellido</p>
    <p *ngSwitchDefault>NN</p>
  </div>
  <div>
    @switch (person().name) {
      @case ("juan") {<p>primer nombre</p> }
      @case ("pablo") {<p>segundo nombre</p> }
      @case ("ramirez") {<p>primer apellido</p> }
      @case ("prieto") {<p>segundo apellido</p> }
      @default {<p>NN</p>}
    }
  </div>
</div>

<div class="container">
  <input type="color" [formControl]="colorControl" >
  <p>color: {{colorControl.value}}</p>
</div>